<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgr.dao.UserMapper">
 
 	<select id="queryall" resultType="Users">
 		SELECT * 
 		FROM users
 	</select>
 	
 	<select id="login" resultType="Users" parameterType="com.dgr.model.Users">
 		SELECT * 
 		FROM users
 		WHERE 
 		<if test="username != null">
 			username = #{username}
 		</if>
 		<if test="telephone != null">
 			telephone = #{telephone}
 		</if>
 		<if test="email != null">
 			email = #{email}
 		</if>
 		AND password = #{password}
 		
 	</select>
 
</mapper> 
  